.label_ore {
    top: 49%;
    left: 70%;
}

.label_depth {
    top: 66.5%;
    left: 70%;
}

.label_diamond {
    top: 84%;
    left: 40%;
}

@media (min-width: 2700px) {
    .label_depth {
        font-size: 1vw;
        left: 65%;
    }

    .label_ore {
        font-size: 1vw;
        left: 65%;
    }

    .label_diamond {
        left: 45%;
        font-size: 1vw;
    }
}