.label_ore {
    top: 49%;
    width: 50%;
    direction: rtl;
}

.label_depth {
    top: 66.5%;
    width: 50%;
    direction: rtl;
}

.label_diamond {
    top: 84%;
    width: 50%;
    direction: rtl;
}

@media (min-width: 2700px) {
    .label_depth {
        font-size: 1vw;
        left: 65%;
    }

    .label_ore {
        font-size: 1vw;
        left: 65%;
    }

    .label_diamond {
        left: 45%;
        font-size: 1vw;
    }
}

@media (max-width: 800px) {
    .label_ore {
        left: 16%;
        top: 49.5%;
    }

    .label_depth {
        left: 16%;
        top: 67%;
    }

    .label_diamond {
        left: 12%;
        top: 84.5%;
    }
}