.rank_label_board {
    top: 24.5%;
    position: absolute;
    background-image: url("../assets/img/wood_label_new.png");
    background-color: transparent;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 33%;
    height: 4.7%;
}

.label_rank {
    font-size: 0.95vw;
    top: 15%;
    left: 2%;
}

.rank_button_close {
    height: 4%;
    width: 10%;
    top: 96%;
}

.leaderboard {
    display: grid;
    max-width: 225px;
    font-size: 0.8vw;
    top: 40%;
    column-gap: 20px;
}

.score {
    display: grid;
    max-width: 225px;
    font-size: 0.8vw;
    top: 90%;
    column-gap: 20px;
}

@media (min-width: 2000px) {
    .leaderboard {
        font-size: 16px;
    }

    .label_rank {
        font-size: 19px;
    }

    .score {
        font-size: 16px;
    }
}