.mine {
}

.label_mine {
    font-size: 1.25vw;
    top: 7%;
    left: 8%;
}

.icon_upgrade_speed {
    top: 42%;
    left: 22%;
}

.upgrade_speed {
    top: 43.75%;
    background-image: url("src/assets/Button_Mine.png");
    height: 17%;
    width: 80%;
}

.label_speed_level {
    top: 49.5%;
    right: 24%;
}

.icon_upgrade_amount {
    top: 59.5%;
    left: 22%;
}

.upgrade_amount {
    top: 61%;
    background-image: url("src/assets/Button_Mine.png");
    height: 17%;
    width: 80%;
}

.label_amount_level {
    top: 66.75%;
    right: 24%;
}

.automate {
    top: 79.5%;
    background-image: url("src/assets/Button_Mine.png");
    height: 15%;
    width: 75%;
}