.pvp {
}

.label_pvp {
    top: -0.5%;
    left: 28%;
    font-size: 1.8vw;
}

.icon_upgrade_attack {
    top: -116%;
    left: 57%;
    width: 75%;
    height: 277%;
}

.upgrade_attack {
    top: 40.25%;
    height: 24%;
    width: 77%;
    left: -3.5%;
    font-size: 3.25vw;
    overflow: visible;
}

.upgrade_attack:hover span {
    display: none;
}

.upgrade_attack:hover:before {
    content: attr(attLvl);
}

.label_attack_level {
    top: 49%;
    right: 24%;
}

.attack_ore {
    top: 50%;
    left: 78%;
}

.icon_upgrade_defence {
    top: -116%;
    left: 57%;
    width: 75%;
    height: 277%;
}

.upgrade_defence {
    top: 57.75%;
    height: 24%;
    width: 77%;
    left: -3.5%;
    font-size: 3.25vw;
    overflow: visible;
}

.upgrade_defence:hover span {
    display: none;
}

.upgrade_defence:hover:before {
    content: attr(defLvl);
}

.label_defence_level {
    top: 66.25%;
    right: 24%;
}

.pvp_attack {
    top: 74%;
    background-image: url("src/assets/attack_button.png");
    height: 26%;
    width: 122%;
}

@media (min-width: 2000px) {
    .label_pvp {
        font-size: 36px;
    }

    .upgrade_attack {
        font-size: 65px;
    }

    .upgrade_defence {
        font-size: 65px;
    }
}