.button_pvp {
    background: url("src/assets/Button_PVP.png");
    transform: scale(.3);
    height: 108px;
    width: 407px;
    border: none;
    transition-duration: .4s;
    resize: both;
}

.button_pvp:hover {
    transform: scale(.28);
    cursor: pointer;
}

.button_pvp_attack {
    position: absolute;
    top: 80%;
    left: 9%;
    background: url("src/assets/Button_Attack.png");
    transform: scale(.3);
    height: 108px;
    width: 407px;
    border: none;
    padding-right: 100px;
    transition-duration: .4s;
}

.button_pvp_attack:hover {
    transform: scale(.28);
    cursor: pointer;
}

.button_upgrade_attack {
    position: absolute;
    top: 49.5%;
    left: 31.5%;
    background: steelblue;
    color: white;
    border: cornflowerblue 1px solid;
    border-radius: 3px;
    padding: 7px;
    margin: 5px;
}

.button_upgrade_defence {
    position: absolute;
    top: 67%;
    left: 29%;
    background: steelblue;
    color: white;
    border: cornflowerblue 1px solid;
    border-radius: 3px;
    padding: 7px;
    margin: 5px;
}

.label_pvp {
    position: absolute;
    color: black;
    font-size: 30px;
    font-weight: bold;
    top: 42%;
    left: 38%;
}

.hide {
    display: none;
}