


.App {
    background-image: url("assets/background_wood_cherry.png"),
        url("assets/background_wood_spruce.png");
    background-position: center, top;
    background-size: cover;
    min-height: 100vh;
}

.header {
}

.nav {
    background-color: #45040f;
    height: 12vh;
}

.nav .flex {
    justify-content: space-between;
}

.nav button {
    margin-top: 25px;
}

.container {
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: center;
}

.logocont {
    width: 14vh;
    height: 13.6vw;
}

.logocont img {
    padding-top: 3px;
    width: 100%;
    height: auto;
}

.gamecontainer {
    display: flex;
    justify-content: space-around;
    height: 88vh;
    margin: 0 10px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.board img {
    transform: scale(0.65);
    margin-left: -13vw;
    margin-top: -22.5vh;
}

.board label {
    color: white;
}

.game {
    display: flex;
    border: #282c34 5px solid;
    border-radius: 5px;
    margin-left: -14vw;
}

.game img {

}

.controls {
    display: flex;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    height: 400px;
    width: 300px;

    color: #282c34;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.button {

}

.signupbutton {
    background: url("assets/SignUp_Button.png");
    background-size: 8vw 4vh;
    background-repeat: no-repeat;
    width: 8vw;
    height: 4vh;
    border: none;
    transition-duration: .4s;
}

.signupbutton:hover {
    transform: scale(.95);
    cursor: pointer;
}

.submitbutton {
    background: forestgreen;
    padding: 1em;
    border: none;
    border-radius: 5px;

}

.link {
    color: #b318f0;
}

.fadeout {
    animation-name: fadeOut;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
