* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background: url("assets/background_wood_cherry.png");
    background-size: cover;
    height: 100vh;
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 100px 88vh;
}

.header {
    grid-column: 1 / 5;
    background: #45040f;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.main {
    grid-column: 2 / 4;
    /*max-height: 88vh;*/
}

.controls {
    grid-column: 4 / 5;
}

.board {
    grid-column: 1 / 2;
}

.board_img {
    height: 75%;
    width: 75%;
    margin-left: 30px;
}

.header_logo {
}

.button_sign_up {
    background: url("assets/Button_SignUp_Test.png") no-repeat;
    height: 30px;
    width: 90px;
    border: none;
    transition-duration: .4s;
    margin-top: 20px;
}

.button_sign_up:hover {
    transform: scale(.95);
    cursor: pointer;
}

.button_pvp {
    background: url("assets/Button_PVP.png");
    transform: scale(.3);
    height: 108px;
    width: 407px;
    border: none;
    transition-duration: .4s;
}

.button_pvp:hover {
    transform: scale(.28);
    cursor: pointer;
}

.button_mine {
    background: url("assets/Button_Mine.png");
    transform: scale(.3);
    height: 108px;
    width: 407px;
    border: none;
    transition-duration: .4s;
}

.button_mine:hover {
    transform: scale(.28);
    cursor: pointer;
}

.button_pvp_attack {
    background: url("assets/Button_Attack.png");
    transform: scale(.3);
    height: 108px;
    width: 407px;
    border: none;
    padding-right: 100px;
    transition-duration: .4s;
}

.button_pvp_attack:hover {
    transform: scale(.28);
    cursor: pointer;
}

.button_rank {
    background: url("assets/Button_Rank.png");
    transform: scale(.3);
    height: 108px;
    width: 407px;
    border: none;
    padding-right: 100px;
    transition-duration: .4s;
}

.button_rank:hover {
    transform: scale(.28);
    cursor: pointer;
}

.button_shop {
    background: url("assets/Button_Shop.png");
    transform: scale(.3);
    height: 108px;
    width: 407px;
    border: none;
    padding-right: 100px;
    transition-duration: .4s;
}

.button_shop:hover {
    transform: scale(.28);
    cursor: pointer;
}

.game {
    width: 100%;
    height: 100%;
    border: #282c34 2px solid;
    border-radius: 3px;
}

.label_info {
    display: flex;
    justify-content: center;
    padding-bottom: 69px;
    margin-left: 70px;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.label_info:nth-of-type(1) {
    margin-top: -365px;
}

.label_info:nth-of-type(3) {
    font-size: 30px;
    margin-top: 3px;
    margin-left: 10px;
}

.modal {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    height: 400px;
    width: 300px;

    color: #282c34;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}


input[type=text] {
    max-width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    max-width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.buttonswitch{
    background: none;
    border: none;
}

.buttonswitch:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.switch {
    display: flex;
    font-size: small;
}

.button {
    background: steelblue;
    color: white;
    border: cornflowerblue 1px solid;
    border-radius: 3px;
    padding: 7px;
    margin: 5px;
}

.button:hover {
    background: skyblue;
    cursor: pointer;
    border: lightskyblue 1px solid;
}

@media (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
    }

    .main {
        grid-column: 1;
        grid-row: 2;
        z-index: 0;
    }

    .board {
        grid-column: 1;
        grid-row: 2;
        z-index: 10;
    }

    .board_img {
        max-height: 30%;
        max-width: 20%;
    }

    .controls {
        display: none;
    }

}